# Dependencies
node_modules/

# Eleventy output/cache
_site/
.11ty-cache/
.11ty-search/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Trashes
._*
