---
layout: layouts/base.njk
title: 404
permalink: /404.html
---
<article class="post">
  <h1>404</h1>
  <p>Hmm... Sorry, this page seems to be missing.</p>
  <p><a href="/">Go back home</a></p>
</article>
