---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for entry in collections.pagesForSitemap %}
  <url>
    <loc>{{ entry.url | absoluteUrl(metadata.url) }}</loc>
    <lastmod>{{ entry.date | dateISO }}</lastmod>
  </url>
{% endfor %}
</urlset>
